###############################
Makefile*
#[Dd]ebug*/
#[Rr]elease*/
*.[Dd]ebug
*.[Rr]elease

###############################
*.dll
*.a
*.o
*.so
*.exe
*.zip
*.log
*.ini
*_resource.rc

###############################
moc_*
ui_*
qrc_*
log.*

###############################
*.user*
*.config
*.files
*.includes
*.creator
*.autosave
.qmake.cache
.qmake.conf
Thumbs.db
*~
~*

###############################
*.vcxproj*
*.sln
*.sdf
*.suo

###############################
build*/
bin*/
temp*/
boost*/